body {
    width: 60%;
    margin: 0 auto;
}
table {
    display: inline-block;
    width: fit-content;
    vertical-align: top;
    margin-bottom: 1rem;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

td {
    /* width: 10rem; */
    width: 30%;
    border: 1px solid rgba(94, 216, 212, 1);
    text-align: left;
    padding: 8px;
}

th {
    background: rgba(94, 216, 212, 1);
    color: white;
    border: 1px solid rgba(94, 216, 212, 1);
    text-align: left;
    padding: 8px;
    font-size: 20px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(94, 216, 212, 0.2);
}
